extends layout

block headContent
	if(tokenIndexWaiting)
		+title(`Token ${group}`)
	else
		if(tokenObj.is_nft)
			+title(`NFT ${tokenObj.name}`)
		else
			+title(`Token ${tokenObj.name}`)
block content

	div.mt-5.mt-sm-3
	if (tokenIndexWaiting)
		div.alert.alert-danger.mb-huge
			h1.h6.font-weight-bold Token is awaiting indexing
			span.text-monospace.word-wrap  #{group}

	else				
		if(tokenObj.is_nft)
			include ./includes/nft-partial.pug
		else
			include ./includes/token-partial.pug
